n8n/workflow_score_latest.json
{
  "name": "Radar Live Scoring",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "param-site",
              "name": "site",
              "value": "KBRO",
              "type": "string"
            },
            {
              "id": "param-scan-index",
              "name": "scan_index",
              "value": -1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0000-0000-000000000006",
      "name": "Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scorer:8000/score_nexrad",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"site\": \"{{ $json.site }}\",\n  \"scan_index\": {{ $json.scan_index }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0000-0000-000000000002",
      "name": "Score Nexrad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.clutter_rate }}",
              "rightValue": 0.4,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0000-0000-000000000003",
      "name": "Clutter > 40%?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alert-1",
              "name": "status",
              "value": "ALERT",
              "type": "string"
            },
            {
              "id": "alert-2",
              "name": "message",
              "value": "=High clutter rate: {{ ($json.clutter_rate * 100).toFixed(1) }}% ({{ $json.n_clutter }}/{{ $json.n_scored }} gates) — {{ $json.site }} {{ $json.date }} run {{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "alert-3",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "alert-4",
              "name": "clutter_rate",
              "value": "={{ $json.clutter_rate }}",
              "type": "number"
            },
            {
              "id": "alert-5",
              "name": "site",
              "value": "={{ $json.site }}",
              "type": "string"
            },
            {
              "id": "alert-6",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0000-0000-000000000004",
      "name": "Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ok-1",
              "name": "status",
              "value": "OK",
              "type": "string"
            },
            {
              "id": "ok-2",
              "name": "message",
              "value": "=Normal clutter rate: {{ ($json.clutter_rate * 100).toFixed(1) }}% ({{ $json.n_clutter }}/{{ $json.n_scored }} gates) — {{ $json.site }} {{ $json.date }} run {{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "ok-3",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "ok-4",
              "name": "clutter_rate",
              "value": "={{ $json.clutter_rate }}",
              "type": "number"
            },
            {
              "id": "ok-5",
              "name": "site",
              "value": "={{ $json.site }}",
              "type": "string"
            },
            {
              "id": "ok-6",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0000-0000-000000000005",
      "name": "OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://grafana:3000/api/annotations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YWRtaW46YWRtaW4="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.message }}\",\n  \"tags\": [\"clutter\", \"alert\", \"{{ $json.site }}\"],\n  \"time\": {{ Date.now() }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0000-0000-000000000007",
      "name": "Grafana Annotation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scorer:8000/log_run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"site\": \"{{ $json.site }}\",\n  \"date\": \"{{ $json.date }}\",\n  \"n_scored\": {{ $json.n_scored }},\n  \"n_clutter\": {{ $json.n_clutter }},\n  \"clutter_rate\": {{ $json.clutter_rate }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0008-0000-0000-000000000008",
      "name": "Log Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parameters": {
      "main": [
        [
          {
            "node": "Score Nexrad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Nexrad": {
      "main": [
        [
          {
            "node": "Clutter > 40%?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clutter > 40%?": {
      "main": [
        [
          {
            "node": "Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert": {
      "main": [
        [
          {
            "node": "Grafana Annotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
